.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://i.pinimg.com/originals/24/f6/24/24f624228a03a1a5a0f2e6563a75f2f5.jpg");
  background-size: cover;
}